/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

@font-face {
	font-family: 'Bungee', sans-serif;
	font-family: 'Bungee Inline', sans-serif;
	font-family: 'Oxanium', sans-serif;
	src: url(https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap);
}

body {
	margin-left: 5%;
	margin-right: 5%;
	width: 95%;
	font-size: 1.1em;
	line-height: 1.5em;
	font-family: 'Oxanium', sans-serif;

	@media screen and (width <768px) {
		font-size: 1em;
	}
}

.main-page {
	border: 5px solid blue;
	object-fit: contain;
	margin-right: 5%;
}

.right-nav {
	background-color: #FF1801;
	border: 5px solid blue;

	@media screen and (width <768px) {
		position: relative;
		height: auto;
	}

	@media screen and (width >=768px) {
		overflow-x: hidden;
		position: fixed;
		height: 100%;
		width: 14%;
		right: 0;
		top: 0;
		padding: 0.5%;
	}
}

.img-nav {
	@media screen and (width <768px) {
		width: 50%;
		margin-left: 20%;
	}

	@media screen and (width >=768px) {
		margin-top: 80%;
		width: 90%;
		height: auto;
	}
}

.content {
	text-align: justify;

	@media screen and (width <768px) {
		margin-left: 0;
	}

	@media screen and (width >=768px) {
		margin-right: 15%;
	}

}

h1 {
	font-family: 'Bungee Inline', sans-serif;
	font-size: 2em;
	font-weight: 80;
	margin-top: 4%;
	margin-bottom: 3%;
	text-align: center;
	line-height: 1.2em;

	@media screen and (width >=768px) {
		font-size: 4em;
		letter-spacing: 0.1em;
		padding: 2%;
		margin-top: 3%;
		margin-bottom: 0;
	}

}

.h1-color {
	color: #FF1801;
	font-size: 1.1em;
}

.header-subhead {
	text-align: center;
	font-weight: 500;
	font-style: italic;

	@media screen and (width >=768px) {
		font-size: 1.5em;
		margin-top: 0;
	}

}

.header {
	margin-bottom: 8%;
}

.img-f1logo {
	width: 40%;
	margin-left: 30%;
	margin-bottom: 5%;

	@media screen and (width >=768px) {
		width: 20%;
		margin-left: 40%;
		margin-top: 0;
	}
}

h2 {
	text-align: center;
	font-family: 'Bungee', sans-serif;
	position: relative;
	font-size: 1.5em;
	margin-bottom: 10%;

	@media screen and (width >=768px) {
		font-size: 2em;
		letter-spacing: 0.1em;
		font-weight: 50;
		margin-bottom: 7%;
	}
}

h2::after {
	position: absolute;
	content: "";
	display: block;
	background-color: #FF1801;
	width: 30%;
	height: 20%;
	margin-left: 35%;
	margin-top: 2%;

	@media screen and (width >=768px) {
		width: 15%;
		height: 20%;
		margin-left: 42%;
		margin-top: 1%;
	}
}

.intro-section {
	margin-bottom: 10%;

	@media screen and (width >=768px) {
		margin-bottom: 7%;
	}
}

.teams-section {
	margin-bottom: 25%;
	margin-top: 20%;

	@media screen and (width >=768px) {
		margin-bottom: 8%;
		margin-top: 1%;
	}
}

.teams-scrollpane {
	display: grid;
	grid-auto-flow: column;
	overflow-x: auto;
	grid-gap: 3%;
	width: 70%;
	margin-left: 8%;
	margin-top: 5%;
	scroll-padding-left: 30%;
	position: relative;
	padding: 5%;

	@media screen and (width >=768px) {
		margin-left: 10%;
		margin-top: 1%;
	}
}

.teams-scrollpane div {
	display: inline-block;
	height: auto;
	width: 9em;
	border: 3px solid red;
	border-radius: 5%;
	box-shadow: 10px 10px 5px grey;

	@media screen and (width >=768px) {
		border: 5px solid red;
		width: 10em;
	}
}

.teams-scrollpane img {
	width: 90%;
	padding: 5%;
}

.teams-scrollpane h4 {
	font-size: 1em;
	letter-spacing: 0.2em;

	@media screen and (width >=768px) {
		font-size: 1.2em;
		letter-spacing: 0.08em;
	}
}

.teams-scrollpane div:hover {
	box-shadow: 10px 10px 5px #FF1801;
	transform: scale(1.05)
}

.drivers-section {
	margin-bottom: 25%;

	@media screen and (width >=768px) {
		margin-bottom: 8%;
	}
}

.drivers-scrollpane {
	display: grid;
	grid-auto-flow: column;
	overflow-x: auto;
	grid-gap: 5%;
	width: 70%;
	margin-left: 8%;
	margin-top: 4%;
	scroll-snap-align: none center;
	padding: 5%;

	@media screen and (width >=768px) {
		margin-top: 0%;
		margin-left: 10%;
		grid-gap: 3%;
	}
}

.drivers-scrollpane div {
	display: inline-block;
	height: auto;
	width: 9em;
	border: 3px solid red;
	border-radius: 5%;
	font-size: 1em;
	box-shadow: 10px 10px 5px grey;

	@media screen and (width >=768px) {
		border: 5px solid red;
		width: 10em;
	}
}

.drivers-scrollpane div:hover {
	box-shadow: 10px 10px 5px #FF1801;
	transform: scale(1.05)
}

.drivers-scrollpane img {
	width: 70%;
}

.drivers-scrollpane h4 {
	font-size: 1em;
	letter-spacing: 0.2em;

	@media screen and (width >=768px) {
		font-size: 1.2em;
		letter-spacing: 0.08em;
	}
}

h3 {
	text-align: center;
	font-family: 'Bungee', sans-serif;
	position: relative;
	margin-bottom: 10%;
	font-size: 1.3em;
	margin-top: 15%;

	@media screen and (width >=768px) {
		margin-bottom: 4%;
		font-size: 1.5em;
		letter-spacing: 0.1em;
		font-weight: 50;
		margin-top: 5%;
	}
}

h3::after {
	position: absolute;
	display: block;
	content: "";
	width: 30%;
	height: 20%;
	background-image: linear-gradient(#FF1801, white);
	margin-top: 0.5%;
	margin-left: 35%;

	@media screen and (width >=768px) {
		width: 10%;
		height: 20%;
		margin-left: 40%;
	}
}

h4 {
	text-align: center;
	font-family: 'Bungee', sans-serif;
	font-size: 1.2em;
	position: relative;

	@media screen and (width >=768px) {
		font-size: 1.3em;
		letter-spacing: 0.1em;
		font-weight: 50;
	}
}

.carparts-section h4::after {
	position: absolute;
	display: block;
	content: "";
	width: 30%;
	height: 20%;
	background-image: linear-gradient(#FF1801, white);
	margin-top: 0.5%;
	margin-left: 35%;

	@media screen and (width >=768px) {
		width: 10%;
		height: 20%;
		margin-left: 40%;
	}
}

.gp-fp {
	margin-bottom: 8%;

	@media screen and (width >=768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4%;
		margin-bottom: 8%;
	}
}

.img-gp-fp {
	width: 100%;
	margin: auto;
	display: block;
	box-shadow: 10px 10px 5px grey;
}

.gp-sprint {
	margin-bottom: 8%;

	@media screen and (width >=768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'left right';
		grid-gap: 4%;
	}
}

.img-gp-sprint {
	grid-area: right;
	width: 100%;
	margin: auto;
	display: block;
	box-shadow: 10px 10px 5px grey;
}

.gp-quali {
	margin-bottom: 8%;

	@media screen and (width >=768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4%;
	}
}

.img-gp-quali {
	width: 100%;
	margin: auto;
	display: block;
	box-shadow: 10px 10px 5px grey;
}

.gp-race {
	margin-bottom: 8%;

	@media screen and (width >=768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'left right';
		grid-gap: 4%;
	}
}

.img-gp-race {
	grid-area: right;
	width: 100%;
	margin: auto;
	display: block;
	box-shadow: 10px 10px 5px grey;
}

.carparts-section {
	margin-bottom: 25%;
	display: block;

	@media screen and (width >=768px) {
		margin-bottom: 10%;
	}
}

.parts-tires-weather {
	@media screen and (width >=768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4%;
		margin-bottom: 8%;
	}
}

.img-tires-weather {
	width: 40%;
	margin: auto;
	display: block;
	box-shadow: 10px 10px 5px grey;

	@media screen and (width >=768px) {
		width: 40%;
	}
}

.parts-tires-compound {
	@media screen and (width >=768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4%;
		margin-bottom: 7%;
	}
}

.img-tires-compound {
	width: 80%;
	margin: auto;
	display: block;
	box-shadow: 10px 10px 5px grey;

	@media screen and (width >=768px) {
		width: 100%;
	}
}

.parts-drs {
	@media screen and (width >=768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4%;
	}
}

.img-drs {
	width: 80%;
	margin: auto;
	display: block;
	box-shadow: 10px 10px 5px grey;

	@media screen and (width >=768px) {
		width: 100%;
	}
}

.finishline-section h3 {
	margin-top: 5%;
	margin-bottom: 5%;
}

.finishline-section nav {
	background-color: #FF1801;
	font-family: 'Bungee', sans-serif;
	font-size: 0.8em;
	display: flex;
	justify-content: space-between;
	padding: 1%;
	padding-right: 4%;

	@media screen and (width >=768px) {
		width: 100%;
		font-size: 1.2em;
	}
}

.finishline-section nav a {
	color: white;
	-webkit-text-stroke: 2px black;
	text-decoration: none;
}

.world-map {
	border: 5px solid red;
	display: block;
	width: 90%;
	margin-left: 4%;

	@media screen and (width >=768px) {
		height: auto;
		width: 75%;
		margin-left: 13%;
		margin-bottom: 4%;
	}
}

.finish-flag {
	display: block;
	width: 100%;

	@media screen and (width >=768px) {
		height: auto;
		width: 120%;
	}
}

/* This uses the same value as --size-xs. */